<div class="container">
<h1>Login</h1>
	<form method="post" ng-submit="loginCtrl.doLogin()">

	  <div class="form-group">
	    <label for="username">Username</label>
	    <input type="text" class="form-control" id="username" ng-model="loginCtrl.loginData.username" placeholder="Username">
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" id="password" ng-model="loginCtrl.loginData.password" placeholder="Password">
	  </div>
	  
	  <button type="submit" class="btn btn-success">Login</button>
	</form>
	<p>{{loginCtrl.error}}</p>
</div>