<div class="container">
  <h1>Sign Up</h1>
  <form method="post" ng-submit="user.signupUser()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" ng-model="user.userData.name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" ng-model="user.userData.username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" ng-model="user.userData.password" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
</div>