   <div class="container">
      <h2>KOC Admin Managment</h2>
      <ul class="nav nav-tabs">
           <li><a data-toggle="tab" href="#adminDashboard">Application</a></li>
           <li class="active"><a data-toggle="tab" href="#donationAdmin">Donation</a></li> 
           <li><a data-toggle="tab" href="#notificationAdmin">Notification</a></li>
      </ul>
    
      <div class='tab-content'>
      <br>
      <strong>Active event: [{{activeEventName}}]</strong><br>
      <strong>Active donation types: [{{activeDTypes.toString()}}]</strong><br><br>
      <div class="donation_container">
         <input type='button' value='Manage donation {{toggleMode}}'  ng-click='toggleManageMode()'>
         click the button to manage donation {{toggleMode}}
      </div>

   <div ng-show="manageMode == 'event'">
      <table><tr>
         <td><label><strong>Manage event notice</strong></label></td>
         <td><input type='button' value='Create' ng-click='eventCreate()'></td>
         <td><input type='button' value='Edit'   ng-click='eventEdit()'  ></td>
         <td><input type='button' value='Remove' ng-click='eventDelete()'></td>
         <td><b>switch event notice:</b></td>
         <td><select ng-model="currentNotice" ng-change="changeNotice()">
             <option ng-repeat="notice in donationNotices" value="{{notice}}">{{notice}}</option>
             </select></td></tr>
      </table><br><br>

      <div ng-switch="eventMode">
         <div ng-switch-when="Create">
            <label class='mode'>Create new event:
            <input type='text', ng-model='donationEvent.name'
                                ng-change='textChanged()' 
                              placeholder='event name' size=20></label>
            <button ng-model="button" ng-click="eventAdd()">Create new event notice</button>
            <label class='status_message0'>{{statusMessage0}}</label>
         </div>
         <div ng-switch-when="Edit">
            <label class='mode'>Edit existing event: {{currentNotice}}</label>
            <button ng-model="button" ng-click="eventUpdate()">Submit changes of event notice</button>
            <label class='status_message1'>{{statusMessage1}}</label>
         </div>
      </div>

      <lable><strong>Please create letter for parents</strong></lable>
      <textarea class="form-control" rows = 6 cols = 60
                  placeholder='Description' ng-model='donationEvent.message'
                  required></textarea>
   </div>
   <div ng-show="manageMode != 'event'">
      <table><tr>
         <td><label><strong>Manage donation type</strong></label></td>
         <td><input type='button' value='Create' ng-click='dTypeCreate()'></td>
         <td><input type='button' value='Edit'   ng-click='dTypeEdit()'  ></td>
         <td><input type='button' value='Remove' ng-click='dTypeDelete()'></td>
         <td><b>switch donation type:</b></td>
         <td><select ng-model="currentDType" ng-change="changeDType()">
             <option ng-repeat="option in dTypeArray" value="{{option}}">{{option}}</option>
             </select></td></tr>
      </table><br><br>

      <div ng-switch="dTypeMode">
         <div ng-switch-when="Create">
            <label class='mode'>Create new donation type:
            <input type='text', ng-model='donationType.name'
                                ng-change='textChanged()' 
                              placeholder='donation type name' size=20></label>
            <button ng-model="button" ng-click="dTypeAdd()">Create new donation type</button>
            <label class='status_message0'>{{statusMessage0}}</label>
         </div>
         <div ng-switch-when="Edit">
            <label class='mode'>Edit existing donation type: {{currentDType}}</label>
            <button ng-model="button" ng-click="dTypeUpdate()">Submit changes of donation type</button>
            <label class='status_message1'>{{statusMessage1}}</label>
         </div>
      </div>
      <input type='checkbox' ng-model='cbValue'> Active donation type? {{cbValue}}
      <br><br>                       
      <lable><strong>Please provide inforamtion for donation type</strong></lable>
      <textarea class="form-control" rows = 4 cols = 60
                  placeholder='Information' ng-model='donationType.information'
                  required></textarea>
   </div>
   </div>

   <div class="donation_container">
      <label><B>Donation type:</B></label>
      <select ng-model="currentType" ng-change="getType()">
         <option ng-repeat="option in donationTypes" value="{{option}}">{{option}}</option>
      </select>

      <label><B>School event:</B></label>
      <select ng-model="currentEvent" ng-change="getEvent()">
         <option ng-repeat="option in donationEvents" value="{{option}}">{{option}}</option>
      </select>

      <label><B>Parent email:</B></label>
      <select ng-model="currentParent"  ng-change="getParent()">
         <option ng-repeat="option in donationParents" value="{{option}}">{{option}}</option>
      </select>
   </div>
   <div  class="donation_list container">
      <h4>List donations [{{donations.length}} entries]</h4>
      <table border=1>
         <tr>
         <th ng-click="sortData('created')">
             Donation date<div ng-class="getSortClass('created')"></div>
         </th>
         <th ng-click="sortData('fName')">
             First name<div ng-class="getSortClass('fName')"></div>
         </th>
         <th ng-click="sortData('lName')">
             Last name<div ng-class="getSortClass('lName')"></div>
         </th>
         <th ng-click="sortData('email')">
             E-mail<div ng-class="getSortClass('email')"></div>
         </th>
         <th ng-click="sortData('event')">
             Event<div ng-class="getSortClass('event')"></div>
         </th>
         <th ng-click="sortData('type')">
             Type<div ng-class="getSortClass('type')"></div>
         </th>
         <th>Quantity</th>
         <th>Description</th></tr>
         <tr ng-repeat="donation in donations | orderBy:sortColumn:reverseSort">
         <td>{{donation.created | date:'M/dd/yyyy'}}
         <td>{{donation.fName}}</td>
         <td>{{donation.lName}}</td>
         <td>{{donation.email}}</td>
         <td>{{donation.event}}</td>
         <td>{{donation.type}}</td>
         <td>{{donation.quantity}}</td>
         <td>{{donation.description}}</td></tr>
      </table>
   </div>
   <br></br>
