<div class="container">
	<h2>KOC Admin Managment</h2>
	<ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#adminDashboard">Application</a></li>
        <li><a data-toggle="tab" href="#donationAdmin">Donation</a></li> 
        <li class="active"><a data-toggle="tab" href="#notificationAdmin">Notification</a></li>
	</ul>
	<div class="tab-content">
		<div class="container">
			<form name="notification">
				<div class="form-group">
					<label for="subject">Subject</label>
					<input type="text" name="subject" class="form-control" ng-model = "subject">
				</div>
				<div class="form-group">
					<label for="nFrom">From</label>
					<input type="text" name="nFrom" class="form-control" ng-model = "nFrom">
				</div>
				<div class="form-group">
					<label for="msg">Message</label>
					<textarea name="msg" class="form-control" ng-model = "msg" rows="5"></textarea>
				</div>
				<div class="form-group">
					<label for="nTime">Date</label>
					<input type="text" name="nTime" ng-model="nTime" class="form-control">
				</div>
				<button class="btn-info" name="sendNotification" ng-click = "sendNotification()">Send</button>
			</form>	
		</div>
		
	</div>
</div>