<div class="container">
	<h2>KOC Admin Managment</h2>
	<ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#adminDashboard">Application</a></li>
        <li><a data-toggle="tab" href="#donationAdmin">Donation</a></li> 
        <li class="active"><a data-toggle="tab" href="#notificationAdmin">Notification</a></li>
		<li><a data-toggle="tab" href="#emergencyContact">Emergency Contact</a></li>
	</ul>
	<div class="tab-content">
		<br></br>
	
		<form name="notification" class="form-horizontal">
			<div class="form-group">
				<label for="subject" class="col-sm-2 control-label">Subject</label>
				<div class="col-sm-10">
					<input type="text" name="subject" class="form-control" ng-model = "subject">	
				</div>
			</div>

			<div class="form-group">
				<label for="nFrom" class="col-sm-2 control-label">From</label>
				<div class="col-sm-10">
					<input type="text" name="nFrom" class="form-control" ng-model = "nFrom">
				</div>
			</div>

			<div class="form-group">
				<label for="msg" class="col-sm-2 control-label">Message</label>
				<div class="col-sm-10">
					<textarea name="msg" class="form-control" ng-model = "msg" rows="8"></textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="nTime" class="col-sm-2 control-label">Date</label>
				<div class="col-sm-10">
					<input type="text" name="nTime" ng-model="nTime" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-info" name="sendNotification" ng-click = "sendNotification()">Send</button>
				</div>
			</div>
		</form>	
	
		
	</div>
</div>
<br></br>